.row{
	padding-top: 80px;
}
h2,h3{
	font-family: 微软雅黑;
	text-align: center;
	padding-top: 20px;
}
.head-img{
	padding-bottom: 30px;
	padding-top: 30px;
}
.btn{
	padding-left: 30px;
	padding-right: 30px;
}
.btn-list{
	padding-top: 20px;
}