.ad-photo{
	padding-top: 40px;
	padding-bottom: 40px;
}

.read{
	padding-top: 80px;
	font-family: 微软雅黑;
}
.read h3{
	padding-bottom: 30px;
}
.topic{
	font-family: 微软雅黑;
	padding-top: 30px;
}
.music{
	padding-top:80px;
}

